[Unit]
Description=Apache Kafka Messaging Service
Wants=zookeeper.service
Requires=network.target network-online.target
After=network.target network-online.target zookeeper.service

[Service]
User=root
Type=forking
EnvironmentFile=/etc/kafka/service.properties
ExecStart=/usr/bin/env ${SERVICE_HOME}/bin/kafka-server-start.sh -daemon ${SERVICE_CONF}/server.properties
ExecStop=/usr/bin/env ${SERVICE_HOME}/bin/kafka-server-stop.sh
TimeoutSec=90
SuccessExitStatus=143
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
